@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

body {
  background: url(/images/bg-pattern-top.svg);
  background-image: url(/images/bg-pattern-bottom.svg);
  background-color: #19a2ae;
  background-blend-mode: screen;
}

.main-content {
  box-sizing: border-box;
  margin: auto;
  width: fit-content;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content > div {
  flex: 1;
}

.main-content > div:first-child {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* .main-content > div:first-child > div {
  min-height: 50%;
} */

#top {
  height: 140px;
  background: url(/images/bg-pattern-card.svg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#info > div > p:first-child,
#social > div > p:first-child {
  font-weight: 700;
}

#info > div > p > span,
div > p:last-child {
  color: #969696;
}

#info,
#social {
  box-sizing: border-box;
  background: #ffffff;
}

#info {
  position: relative;
  padding: 50px;
  /* border-radius: 10px 10px 0 0; */
}

#info > div:last-child {
  text-align: center;
  margin-top: 20px;
}

#info > div > p:last-child {
  margin-top: 10px;
}

#vic > img {
  border: 5px #ffffff solid;
  border-radius: 50px;
  display: block;
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  margin: auto;
}

#social {
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  border-top: 1px #969696 solid;
  border-radius: 0 0 20px 20px;
  padding: 30px;
  gap: 80px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
